flow.json
[{"id":"fba38f79.a01bc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3e46d7a.552f58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5988bdcb.68446c","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"e5c6703e.5a4b4","type":"ui_group","z":"","name":"Group 2","tab":"fca624f4.e3476","order":2,"disp":true,"width":"6","collapse":true},{"id":"7534ca3c.cc08dc","type":"ui_group","z":"","name":"Group 1","tab":"fca624f4.e3476","order":1,"disp":true,"width":"6","collapse":false},{"id":"31b301de.bc3806","type":"ui_group","z":"","name":"Group 3","tab":"fca624f4.e3476","order":3,"disp":true,"width":"6","collapse":false},{"id":"dec16d77.5aed78","type":"ui_group","z":"","name":"Group 4","tab":"fca624f4.e3476","order":4,"disp":true,"width":"6","collapse":false},{"id":"c137dc9f.300708","type":"ui_group","name":"Group 5","tab":"fca624f4.e3476","order":5,"disp":true,"width":6},{"id":"9c0d202f.130d88","type":"ui_group","z":"","name":"Debug","tab":"fca624f4.e3476","order":6,"disp":true,"width":"6","collapse":true},{"id":"842ad0b5.96d31","type":"ui_group","z":"","name":"Default","tab":"23810cc3.cf3544","order":1,"disp":false,"width":"24","collapse":false},{"id":"fca624f4.e3476","type":"ui_tab","z":"","name":"Curing","icon":"dashboard"},{"id":"23810cc3.cf3544","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1803432f.b33bc5","type":"ui_group","z":"","name":"Group 1","tab":"a9bd542d.1ad538","order":1,"disp":true,"width":"6","collapse":false},{"id":"a9bd542d.1ad538","type":"ui_tab","z":"","name":"Curing","icon":"dashboard"},{"id":"a6b37da.7a928","type":"ui_group","z":"","name":"test","tab":"eae9a5df.536848","order":1,"disp":true,"width":"10","collapse":true},{"id":"eae9a5df.536848","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":26},{"id":"6cd14792.cd3cf","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":951,"y":402,"wires":[["22a919c4.6b33b6"]]},{"id":"ec071b10.91e7f","type":"serial in","z":"fba38f79.a01bc8","name":"","serial":"5988bdcb.68446c","x":296.5,"y":201,"wires":[["878322cf.d72be8","ed4cf9b.6177588"]]},{"id":"878322cf.d72be8","type":"switch","z":"fba38f79.a01bc8","name":"redirection payload ","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"t","vt":"str"},{"t":"cont","v":"a","vt":"str"},{"t":"cont","v":"s","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":479.3333740234375,"y":202.3333740234375,"wires":[["214aad8c.2d349a"],["214aad8c.2d349a"],["214aad8c.2d349a"]]},{"id":"214aad8c.2d349a","type":"csv","z":"fba38f79.a01bc8","name":"","sep":"\\t","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"none, now, timer, T_amb, Tc_K, Consigne, Feedback,  flag_capteur, Pyro, output_dac, adc1_V, Err","skip":0,"x":665,"y":200,"wires":[["a614a1f0.b0e1e8","b9a482c6.f4339","e0d2105.5356bf","4bf7bb4.d711cc4","b97c0251.1dd8e","9a0c7ffd.a47e98","b3752152.4ea92","1b8cc9d6.a475f6","eb1e5f26.297da","6e50ee52.61386","5ddc2b31.c11684","260d706a.940b18","76056732.b06568","a8bbc1a8.bfb7d"]]},{"id":"4bf7bb4.d711cc4","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"e5c6703e.5a4b4","order":2,"width":0,"height":0,"gtype":"gage","title":"Thermocouple","label":"°C","format":" {{msg.payload.Tc_K}} ","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948.5,"y":189.83334350585938,"wires":[]},{"id":"a614a1f0.b0e1e8","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":3,"width":0,"height":0,"name":"","label":"Secondes écoulées","format":"{{msg.payload.now}}","layout":"row-left","x":831.833251953125,"y":107,"wires":[]},{"id":"b9a482c6.f4339","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":5,"width":0,"height":0,"name":"","label":"Timer","format":"{{msg.payload.timer}}","layout":"row-left","x":862.833251953125,"y":142,"wires":[]},{"id":"e0d2105.5356bf","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":6,"width":0,"height":0,"name":"Tamb","label":"T_amb","format":"{{msg.payload.T_amb}}","layout":"row-left","x":973.833251953125,"y":159,"wires":[]},{"id":"b97c0251.1dd8e","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"31b301de.bc3806","order":1,"width":0,"height":0,"gtype":"gage","title":"Consigne","label":"°C","format":" {{msg.payload.Consigne}} ","min":0,"max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1104.833251953125,"y":195.66665649414062,"wires":[]},{"id":"9a0c7ffd.a47e98","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"dec16d77.5aed78","order":2,"width":0,"height":0,"gtype":"gage","title":"Feedback","label":"°C","format":" {{msg.payload.Feedback}} ","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":976.833251953125,"y":224.66665649414062,"wires":[]},{"id":"b3752152.4ea92","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"c137dc9f.300708","order":1,"width":0,"height":0,"gtype":"gage","title":"Pyromètre","label":"°C","format":" {{msg.payload.Pyro}} ","min":"250","max":"1200","colors":["#00acb5","#00b500","#ca3838"],"seg1":"1000","seg2":"1100","x":893.833251953125,"y":288.6666564941406,"wires":[]},{"id":"1b8cc9d6.a475f6","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"9c0d202f.130d88","order":1,"width":0,"height":0,"gtype":"gage","title":"output_MCP4725_digit","label":"bit","format":" {{msg.payload.output_dac}} ","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1095.833251953125,"y":302.6666564941406,"wires":[]},{"id":"d2ac6a77.069a68","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":4,"width":0,"height":0,"name":"","label":"Capteur en usage","format":"{{msg.payload.flag_capteur}}","layout":"row-left","x":1093.5,"y":267.1667175292969,"wires":[]},{"id":"eb1e5f26.297da","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"9c0d202f.130d88","order":2,"width":0,"height":0,"gtype":"gage","title":"Recopie_dac_MCP","label":"V","format":" {{msg.payload.adc1_V}} ","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1101.7498779296875,"y":335.5833435058594,"wires":[]},{"id":"5ddc2b31.c11684","type":"function","z":"fba38f79.a01bc8","name":"Tc_K ON / Pyrometre ON","func":"if (msg.payload == 0){\n    msg.payload = \"Tc_K ON\";\n} else if(msg.payload == 1){\n    msg.payload = \"Pyrometre ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":864.2332763671875,"y":256.3166809082031,"wires":[["d2ac6a77.069a68"]]},{"id":"22a919c4.6b33b6","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"7534ca3c.cc08dc","order":7,"width":0,"height":0,"gtype":"gage","title":"Offset","label":"°C","format":"{{msg.payload}}","min":"-100","max":"100","colors":["#0073b5","#00b500","#ca3838"],"seg1":"-20","seg2":"20","x":1072.2332763671875,"y":368.7833251953125,"wires":[]},{"id":"6e50ee52.61386","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"name":"","label":"Erreurs","format":" {{msg.payload.Err}} ","layout":"row-left","x":886.2332763671875,"y":328.2166748046875,"wires":[]},{"id":"260d706a.940b18","type":"function","z":"fba38f79.a01bc8","name":"","func":"msg.payload = Math.round(msg.payload.Feedback - msg.payload.Consigne);\nreturn msg;","outputs":1,"noerr":0,"x":878,"y":366,"wires":[["22a919c4.6b33b6"]]},{"id":"de566db2.21c708","type":"file","z":"fba38f79.a01bc8","name":"","filename":"/home/harold/arduinoDataloggerToFile/arduino_dataloggerToFile","appendNewline":true,"createDir":false,"overwriteFile":"false","x":524,"y":389,"wires":[]},{"id":"54fe969.1e60c68","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"none, now, timer, T_amb, Tc_K, Consigne, Feedback,  flag_capteur, Pyro, output_dac, adc1_V, Err","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":304,"y":455,"wires":[["de566db2.21c708"]]},{"id":"3bc565b2.3b8b12","type":"ui_template","z":"fba38f79.a01bc8","group":"842ad0b5.96d31","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://www.raiselife.eu/images/logo.png'\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":613.5,"y":95,"wires":[[]]},{"id":"fac58f29.686ac8","type":"ui_button","z":"fba38f79.a01bc8","name":"","group":"7534ca3c.cc08dc","order":1,"width":0,"height":0,"passthru":false,"label":"{{label}} ","color":"{{color}} ","bgcolor":"{{background}} ","icon":"","payload":"t","payloadType":"str","topic":"","x":498.5,"y":578,"wires":[["daa42b96.36a58","2c226f05.f4aa08","247a0c8e.34e19c"]]},{"id":"daa42b96.36a58","type":"delay","z":"fba38f79.a01bc8","name":"","pauseType":"delay","timeout":"0.7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":634.5,"y":578,"wires":[["457bc850.4ed8d"]]},{"id":"457bc850.4ed8d","type":"function","z":"fba38f79.a01bc8","name":"Flip color RED/BLUE","func":"\nif (msg.background == \"GREEN\") {\n return null;\n}\n//var first = context.get('first')||true;\nif (msg.background == \"RED\") {\n msg.background = \"BLUE\";\n msg.color = \"WHITE\";\n msg.label = \"RUNNING\";\n// if (!first){msg.payload = \"\";}\n } else {\n msg.color = \"BLACK\";\n msg.background = \"RED\";\n msg.label = \"Tempering\";\n //if (first) {\n //    msg.payload = \"t\";\n //context.set('first', false);\n //}\n }\nreturn msg;","outputs":1,"noerr":0,"x":565.5,"y":621,"wires":[["fac58f29.686ac8"]]},{"id":"afb3e941.df103","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":352.5,"y":527,"wires":[["40ccc5b5.c99ce4"]]},{"id":"40ccc5b5.c99ce4","type":"change","z":"fba38f79.a01bc8","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Tempering","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":504.5,"y":521,"wires":[["fac58f29.686ac8"]]},{"id":"f13f6ad5.7ded1","type":"ui_button","z":"fba38f79.a01bc8","name":"","group":"7534ca3c.cc08dc","order":2,"width":0,"height":0,"passthru":true,"label":"{{label}} ","color":"{{color}} ","bgcolor":"{{background}} ","icon":"","payload":"","payloadType":"str","topic":"","x":491.5,"y":767,"wires":[["18b0bd10.246c53","5a46adc9.c963ac","247a0c8e.34e19c"]]},{"id":"18b0bd10.246c53","type":"delay","z":"fba38f79.a01bc8","name":"","pauseType":"delay","timeout":"0.7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":627.5,"y":767,"wires":[["dd6364c4.b27038"]]},{"id":"dd6364c4.b27038","type":"function","z":"fba38f79.a01bc8","name":"Flip color RED/BLUE","func":"\nif (msg.background == \"GREEN\") {\n return null;\n}\nvar first = context.get('first')||true;\nif (msg.background == \"RED\") {\n msg.background = \"BLUE\";\n msg.color = \"WHITE\";\n if (!first){msg.payload = \"\"}\n} else {\n msg.color = \"BLACK\";\n msg.background = \"RED\";\n msg.label = \"Austeneziting RUNNING\";\n if (first){\n     msg.payload = \"a\";\n     context.set('first',false);\n     \n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.5,"y":810,"wires":[["f13f6ad5.7ded1"]]},{"id":"4d0a5d15.36c2ec","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":344.5,"y":714.9999694824219,"wires":[["e74f9c1.d5369e"]]},{"id":"e74f9c1.d5369e","type":"change","z":"fba38f79.a01bc8","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Austeniziting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":497.5,"y":710,"wires":[["f13f6ad5.7ded1"]]},{"id":"5a46adc9.c963ac","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":590.6666412353516,"y":921.6833038330078,"wires":[]},{"id":"2c226f05.f4aa08","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":625.5833129882812,"y":668.5833435058594,"wires":[]},{"id":"247a0c8e.34e19c","type":"serial out","z":"fba38f79.a01bc8","name":"","serial":"5988bdcb.68446c","x":1011.5,"y":707,"wires":[]},{"id":"76056732.b06568","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":631.5,"y":307,"wires":[]},{"id":"ed4cf9b.6177588","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":411.5,"y":307,"wires":[]},{"id":"c8f35341.9b5ad8","type":"trigger","z":"b3e46d7a.552f58","op1":"{\"t\":\"white\", \"b\":\"red\",\"l\":\"RUNNING\"}","op2":"{\"t\":\"white\", \"b\":\"blue\",\"l\":\"STOPPED\"}","op1type":"json","op2type":"json","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":569,"y":394,"wires":[["97dd9570.bc84e"]]},{"id":"97dd9570.bc84e","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"1803432f.b33bc5","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload.l}} ","color":"{{payload.t}} ","bgcolor":"{{payload.b}} ","icon":"","payload":"a","payloadType":"str","topic":"","x":559,"y":314,"wires":[["c8f35341.9b5ad8"]]},{"id":"32426b90.454004","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"{\"t\":\"white\", \"b\":\"green\",\"l\":\"START\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":419,"y":314,"wires":[["97dd9570.bc84e"]]},{"id":"d49018dc.0ad23","type":"switch","z":"b3e46d7a.552f58","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":342,"y":567,"wires":[["1ad8159b.62ecba"],["f29aa53b.9aa318"]]},{"id":"1ad8159b.62ecba","type":"function","z":"b3e46d7a.552f58","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"TURN OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":548,"wires":[["b0e35e30.9a1ef"]]},{"id":"f29aa53b.9aa318","type":"function","z":"b3e46d7a.552f58","name":"if is off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"TURN ON\";\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":588,"wires":[["b0e35e30.9a1ef"]]},{"id":"b0e35e30.9a1ef","type":"ui_button","z":"b3e46d7a.552f58","name":"on/off","group":"a6b37da.7a928","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"button","x":654,"y":564,"wires":[["cf35d0b3.943cf8"]]},{"id":"5c822198.021a88","type":"switch","z":"b3e46d7a.552f58","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":928,"y":565,"wires":[["43845fdb.3c8e98"],["40a1e9b5.ba2c7"]]},{"id":"cf35d0b3.943cf8","type":"switch","z":"b3e46d7a.552f58","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":797,"y":564,"wires":[["5c822198.021a88"]]},{"id":"43845fdb.3c8e98","type":"change","z":"b3e46d7a.552f58","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"off","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1082,"y":537,"wires":[["4c1be8fb.9ac578"]]},{"id":"98d475cd.90ba58","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":205,"y":568,"wires":[["d49018dc.0ad23"]]},{"id":"40a1e9b5.ba2c7","type":"change","z":"b3e46d7a.552f58","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"on","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1084,"y":586,"wires":[["4c1be8fb.9ac578"]]},{"id":"4c1be8fb.9ac578","type":"debug","z":"b3e46d7a.552f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1274,"y":559,"wires":[]},{"id":"a06f32f1.61a778","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":913,"y":500,"wires":[["43845fdb.3c8e98"]]},{"id":"a8bbc1a8.bfb7d","type":"switch","z":"fba38f79.a01bc8","name":"","property":"payload.none","propertyType":"msg","rules":[{"t":"eq","v":"t","vt":"str"},{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"s","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":102,"y":631,"wires":[[],[],[]],"outputLabels":["t","a","s"]}]