flow.json
[{"id":"fba38f79.a01bc8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b3e46d7a.552f58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5988bdcb.68446c","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"e5c6703e.5a4b4","type":"ui_group","z":"","name":"Group 2","tab":"fca624f4.e3476","order":2,"disp":true,"width":"6","collapse":true},{"id":"7534ca3c.cc08dc","type":"ui_group","z":"","name":"Group 1","tab":"fca624f4.e3476","order":1,"disp":true,"width":"6","collapse":false},{"id":"31b301de.bc3806","type":"ui_group","z":"","name":"Group 3","tab":"fca624f4.e3476","order":3,"disp":true,"width":"6","collapse":false},{"id":"dec16d77.5aed78","type":"ui_group","z":"","name":"Group 4","tab":"fca624f4.e3476","order":4,"disp":true,"width":"6","collapse":false},{"id":"c137dc9f.300708","type":"ui_group","name":"Group 5","tab":"fca624f4.e3476","order":5,"disp":true,"width":6},{"id":"9c0d202f.130d88","type":"ui_group","z":"","name":"Debug","tab":"fca624f4.e3476","order":6,"disp":true,"width":"6","collapse":true},{"id":"842ad0b5.96d31","type":"ui_group","z":"","name":"Default","tab":"23810cc3.cf3544","order":1,"disp":false,"width":"24","collapse":false},{"id":"fca624f4.e3476","type":"ui_tab","z":"","name":"Curing","icon":"dashboard"},{"id":"23810cc3.cf3544","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1803432f.b33bc5","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6b37da.7a928","type":"ui_group","z":"","name":"test","tab":"eae9a5df.536848","order":1,"disp":true,"width":"10","collapse":true},{"id":"eae9a5df.536848","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":26},{"id":"b43adb86.2fac3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6cd14792.cd3cf","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":951,"y":402,"wires":[["22a919c4.6b33b6"]]},{"id":"ec071b10.91e7f","type":"serial in","z":"fba38f79.a01bc8","name":"","serial":"5988bdcb.68446c","x":296.5,"y":201,"wires":[["878322cf.d72be8","ed4cf9b.6177588"]]},{"id":"878322cf.d72be8","type":"switch","z":"fba38f79.a01bc8","name":"redirection payload ","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"t","vt":"str"},{"t":"cont","v":"a","vt":"str"},{"t":"cont","v":"s","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":479.3333740234375,"y":202.3333740234375,"wires":[["214aad8c.2d349a"],["214aad8c.2d349a"],["214aad8c.2d349a"]]},{"id":"214aad8c.2d349a","type":"csv","z":"fba38f79.a01bc8","name":"","sep":"\\t","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"none, now, timer, T_amb, Tc_K, Consigne, Feedback,  flag_capteur, Pyro, output_dac, adc1_V, Err","skip":0,"x":665,"y":200,"wires":[["a614a1f0.b0e1e8","b9a482c6.f4339","e0d2105.5356bf","4bf7bb4.d711cc4","b97c0251.1dd8e","9a0c7ffd.a47e98","b3752152.4ea92","1b8cc9d6.a475f6","eb1e5f26.297da","6e50ee52.61386","5ddc2b31.c11684","260d706a.940b18","76056732.b06568","de566db2.21c708"]]},{"id":"4bf7bb4.d711cc4","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"e5c6703e.5a4b4","order":2,"width":0,"height":0,"gtype":"gage","title":"Thermocouple","label":"°C","format":" {{msg.payload.Tc_K}} ","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948.5,"y":189.83334350585938,"wires":[]},{"id":"a614a1f0.b0e1e8","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":3,"width":0,"height":0,"name":"","label":"Secondes écoulées","format":"{{msg.payload.now}}","layout":"row-left","x":831.833251953125,"y":107,"wires":[]},{"id":"b9a482c6.f4339","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":5,"width":0,"height":0,"name":"","label":"Timer","format":"{{msg.payload.timer}}","layout":"row-left","x":862.833251953125,"y":142,"wires":[]},{"id":"e0d2105.5356bf","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":6,"width":0,"height":0,"name":"Tamb","label":"T_amb","format":"{{msg.payload.T_amb}}","layout":"row-left","x":973.833251953125,"y":159,"wires":[]},{"id":"b97c0251.1dd8e","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"31b301de.bc3806","order":1,"width":0,"height":0,"gtype":"gage","title":"Consigne","label":"°C","format":" {{msg.payload.Consigne}} ","min":0,"max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1104.833251953125,"y":195.66665649414062,"wires":[]},{"id":"9a0c7ffd.a47e98","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"dec16d77.5aed78","order":2,"width":0,"height":0,"gtype":"gage","title":"Feedback","label":"°C","format":" {{msg.payload.Feedback}} ","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":976.833251953125,"y":224.66665649414062,"wires":[]},{"id":"b3752152.4ea92","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"c137dc9f.300708","order":1,"width":0,"height":0,"gtype":"gage","title":"Pyromètre","label":"°C","format":" {{msg.payload.Pyro}} ","min":"250","max":"1200","colors":["#00acb5","#00b500","#ca3838"],"seg1":"1000","seg2":"1100","x":893.833251953125,"y":288.6666564941406,"wires":[]},{"id":"1b8cc9d6.a475f6","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"9c0d202f.130d88","order":1,"width":0,"height":0,"gtype":"gage","title":"output_MCP4725_digit","label":"bit","format":" {{msg.payload.output_dac}} ","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1095.833251953125,"y":302.6666564941406,"wires":[]},{"id":"d2ac6a77.069a68","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":4,"width":0,"height":0,"name":"","label":"Capteur en usage","format":"{{msg.payload.flag_capteur}}","layout":"row-left","x":1093.5,"y":267.1667175292969,"wires":[]},{"id":"eb1e5f26.297da","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"9c0d202f.130d88","order":2,"width":0,"height":0,"gtype":"gage","title":"Recopie_dac_MCP","label":"V","format":" {{msg.payload.adc1_V}} ","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1101.7498779296875,"y":335.5833435058594,"wires":[]},{"id":"5ddc2b31.c11684","type":"function","z":"fba38f79.a01bc8","name":"Tc_K ON / Pyrometre ON","func":"if (msg.payload == 0){\n    msg.payload = \"Tc_K ON\";\n} else if(msg.payload == 1){\n    msg.payload = \"Pyrometre ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":864.2332763671875,"y":256.3166809082031,"wires":[["d2ac6a77.069a68"]]},{"id":"22a919c4.6b33b6","type":"ui_gauge","z":"fba38f79.a01bc8","name":"","group":"7534ca3c.cc08dc","order":7,"width":0,"height":0,"gtype":"gage","title":"Offset","label":"°C","format":"{{msg.payload}}","min":"-100","max":"100","colors":["#0073b5","#00b500","#ca3838"],"seg1":"-20","seg2":"20","x":1072.2332763671875,"y":368.7833251953125,"wires":[]},{"id":"6e50ee52.61386","type":"ui_text","z":"fba38f79.a01bc8","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"name":"","label":"Erreurs","format":" {{msg.payload.Err}} ","layout":"row-left","x":886.2332763671875,"y":328.2166748046875,"wires":[]},{"id":"260d706a.940b18","type":"function","z":"fba38f79.a01bc8","name":"","func":"msg.payload = Math.round(msg.payload.Feedback - msg.payload.Consigne);\nreturn msg;","outputs":1,"noerr":0,"x":878,"y":366,"wires":[["22a919c4.6b33b6"]]},{"id":"de566db2.21c708","type":"file","z":"fba38f79.a01bc8","name":"","filename":"/home/harold/Documents/dataLogger/arduino_file","appendNewline":true,"createDir":true,"overwriteFile":"false","x":474,"y":389,"wires":[]},{"id":"54fe969.1e60c68","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"none, now, timer, T_amb, Tc_K, Consigne, Feedback,  flag_capteur, Pyro, output_dac, adc1_V, Err","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":304,"y":455,"wires":[["de566db2.21c708"]]},{"id":"3bc565b2.3b8b12","type":"ui_template","z":"fba38f79.a01bc8","group":"842ad0b5.96d31","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://www.raiselife.eu/images/logo.png'\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":613.5,"y":95,"wires":[[]]},{"id":"fac58f29.686ac8","type":"ui_button","z":"fba38f79.a01bc8","name":"","group":"7534ca3c.cc08dc","order":1,"width":0,"height":0,"passthru":false,"label":"{{label}} ","color":"{{color}} ","bgcolor":"{{background}} ","icon":"","payload":"7","payloadType":"str","topic":"","x":498.5,"y":578,"wires":[["daa42b96.36a58","2c226f05.f4aa08","247a0c8e.34e19c"]]},{"id":"daa42b96.36a58","type":"delay","z":"fba38f79.a01bc8","name":"","pauseType":"delay","timeout":"0.7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":634.5,"y":578,"wires":[["457bc850.4ed8d"]]},{"id":"457bc850.4ed8d","type":"function","z":"fba38f79.a01bc8","name":"Flip color RED/BLUE","func":"\nif (msg.background == \"GREEN\") {\n return null;\n}\n//var first = context.get('first')||true;\nif (msg.background == \"RED\") {\n msg.background = \"BLUE\";\n msg.color = \"WHITE\";\n msg.label = \"RUNNING\";\n// if (!first){msg.payload = \"\";}\n } else {\n msg.color = \"BLACK\";\n msg.background = \"RED\";\n msg.label = \"Tempering\";\n //if (first) {\n //    msg.payload = \"t\";\n //context.set('first', false);\n //}\n }\nreturn msg;","outputs":1,"noerr":0,"x":565.5,"y":621,"wires":[["fac58f29.686ac8"]]},{"id":"afb3e941.df103","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":352.5,"y":527,"wires":[["40ccc5b5.c99ce4"]]},{"id":"40ccc5b5.c99ce4","type":"change","z":"fba38f79.a01bc8","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Tempering","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":504.5,"y":521,"wires":[["fac58f29.686ac8"]]},{"id":"f13f6ad5.7ded1","type":"ui_button","z":"fba38f79.a01bc8","name":"","group":"7534ca3c.cc08dc","order":2,"width":0,"height":0,"passthru":true,"label":"{{label}} ","color":"{{color}} ","bgcolor":"{{background}} ","icon":"","payload":"","payloadType":"str","topic":"","x":491.5,"y":767,"wires":[["18b0bd10.246c53","5a46adc9.c963ac","247a0c8e.34e19c"]]},{"id":"18b0bd10.246c53","type":"delay","z":"fba38f79.a01bc8","name":"","pauseType":"delay","timeout":"0.7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":627.5,"y":767,"wires":[["dd6364c4.b27038"]]},{"id":"dd6364c4.b27038","type":"function","z":"fba38f79.a01bc8","name":"Flip color RED/BLUE","func":"\nif (msg.background == \"GREEN\") {\n return null;\n}\nvar first = context.get('first')||true;\nif (msg.background == \"RED\") {\n msg.background = \"BLUE\";\n msg.color = \"WHITE\";\n if (!first){msg.payload = \"\"}\n} else {\n msg.color = \"BLACK\";\n msg.background = \"RED\";\n msg.label = \"Austeneziting RUNNING\";\n if (first){\n     msg.payload = \"a\";\n     context.set('first',false);\n     \n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":558.5,"y":810,"wires":[["f13f6ad5.7ded1"]]},{"id":"4d0a5d15.36c2ec","type":"inject","z":"fba38f79.a01bc8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":344.5,"y":714.9999694824219,"wires":[["e74f9c1.d5369e"]]},{"id":"e74f9c1.d5369e","type":"change","z":"fba38f79.a01bc8","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Austeniziting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":497.5,"y":710,"wires":[["f13f6ad5.7ded1"]]},{"id":"5a46adc9.c963ac","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":590.6666412353516,"y":921.6833038330078,"wires":[]},{"id":"2c226f05.f4aa08","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":625.5833129882812,"y":668.5833435058594,"wires":[]},{"id":"247a0c8e.34e19c","type":"serial out","z":"fba38f79.a01bc8","name":"","serial":"5988bdcb.68446c","x":1011.5,"y":707,"wires":[]},{"id":"76056732.b06568","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":631.5,"y":307,"wires":[]},{"id":"ed4cf9b.6177588","type":"debug","z":"fba38f79.a01bc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":411.5,"y":307,"wires":[]},{"id":"c8f35341.9b5ad8","type":"trigger","z":"b3e46d7a.552f58","op1":"{\"t\":\"white\", \"b\":\"red\",\"l\":\"RUNNING\"}","op2":"{\"t\":\"white\", \"b\":\"blue\",\"l\":\"STOPPED\"}","op1type":"json","op2type":"json","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":438,"y":126,"wires":[["97dd9570.bc84e"]]},{"id":"97dd9570.bc84e","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"1803432f.b33bc5","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload.l}} ","color":"{{payload.t}} ","bgcolor":"{{payload.b}} ","icon":"","payload":"a","payloadType":"str","topic":"","x":428,"y":46,"wires":[["c8f35341.9b5ad8"]]},{"id":"32426b90.454004","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"{\"t\":\"white\", \"b\":\"green\",\"l\":\"START\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":288,"y":46,"wires":[["97dd9570.bc84e"]]},{"id":"d49018dc.0ad23","type":"switch","z":"b3e46d7a.552f58","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":279,"y":221,"wires":[["1ad8159b.62ecba"],["f29aa53b.9aa318"]]},{"id":"1ad8159b.62ecba","type":"function","z":"b3e46d7a.552f58","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"TURN OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":202,"wires":[["b0e35e30.9a1ef"]]},{"id":"f29aa53b.9aa318","type":"function","z":"b3e46d7a.552f58","name":"if is off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"TURN ON\";\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":242,"wires":[["b0e35e30.9a1ef"]]},{"id":"b0e35e30.9a1ef","type":"ui_button","z":"b3e46d7a.552f58","name":"on/off","group":"a6b37da.7a928","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"button","x":591,"y":218,"wires":[["cf35d0b3.943cf8"]]},{"id":"5c822198.021a88","type":"switch","z":"b3e46d7a.552f58","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":865,"y":219,"wires":[["43845fdb.3c8e98"],["40a1e9b5.ba2c7"]]},{"id":"cf35d0b3.943cf8","type":"switch","z":"b3e46d7a.552f58","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":734,"y":218,"wires":[["5c822198.021a88"]]},{"id":"43845fdb.3c8e98","type":"change","z":"b3e46d7a.552f58","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"off","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1019,"y":191,"wires":[["4c1be8fb.9ac578"]]},{"id":"98d475cd.90ba58","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":142,"y":222,"wires":[["d49018dc.0ad23"]]},{"id":"40a1e9b5.ba2c7","type":"change","z":"b3e46d7a.552f58","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"on","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1021,"y":240,"wires":[["4c1be8fb.9ac578"]]},{"id":"4c1be8fb.9ac578","type":"debug","z":"b3e46d7a.552f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1211,"y":213,"wires":[]},{"id":"a06f32f1.61a778","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":154,"wires":[["43845fdb.3c8e98"]]},{"id":"4aa772c6.5bf0dc","type":"switch","z":"b3e46d7a.552f58","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":242,"y":375,"wires":[["f112bdb4.ef2008"],["7f8ff610.69302"]]},{"id":"f112bdb4.ef2008","type":"function","z":"b3e46d7a.552f58","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"TURN OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":356,"wires":[["b0f380e6.65e448"]]},{"id":"7f8ff610.69302","type":"function","z":"b3e46d7a.552f58","name":"if is off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"TURN ON\";\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":396,"wires":[["b0f380e6.65e448"]]},{"id":"b0f380e6.65e448","type":"ui_button","z":"b3e46d7a.552f58","name":"on/off","group":"a6b37da.7a928","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"7","payloadType":"str","topic":"button","x":554,"y":372,"wires":[["c32e699.6a4ab18"]]},{"id":"3b3e05b1.7ceb62","type":"switch","z":"b3e46d7a.552f58","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":828,"y":373,"wires":[["f9344c9b.d0e2c"],["a446f79.3683188"]]},{"id":"c32e699.6a4ab18","type":"switch","z":"b3e46d7a.552f58","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":372,"wires":[["3b3e05b1.7ceb62"]]},{"id":"f9344c9b.d0e2c","type":"change","z":"b3e46d7a.552f58","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"off","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"q","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":982,"y":345,"wires":[["a3fecf97.9b2b58"]]},{"id":"b2923785.47b83","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":105,"y":376,"wires":[["4aa772c6.5bf0dc"]]},{"id":"a446f79.3683188","type":"change","z":"b3e46d7a.552f58","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"on","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":984,"y":394,"wires":[["a3fecf97.9b2b58"]]},{"id":"a3fecf97.9b2b58","type":"debug","z":"b3e46d7a.552f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1174,"y":367,"wires":[]},{"id":"d61fd495.6e8fb","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":813,"y":308,"wires":[["f9344c9b.d0e2c"]]},{"id":"45547412.7c4fcc","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":864.5,"y":784,"wires":[["4c8617c0.376f78"]]},{"id":"6b106d5d.d32ce4","type":"serial in","z":"b3e46d7a.552f58","name":"","serial":"5988bdcb.68446c","x":210,"y":583,"wires":[["2d0bc731.3b31f","68f52814.adbb48"]]},{"id":"2d0bc731.3b31f","type":"switch","z":"b3e46d7a.552f58","name":"redirection payload ","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":392.8333740234375,"y":584.3333740234375,"wires":[["8e7f7bb5.39d97"]]},{"id":"8e7f7bb5.39d97","type":"csv","z":"b3e46d7a.552f58","name":"","sep":"\\t","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"none, T_amb, Tc_K, Consigne, Feedback,  flag_capteur, Pyro, output_dac, adc1_V, Err","skip":0,"x":578.5,"y":582,"wires":[["e94ec802.86a688","acd4dc05.ef08b","c5f24abc.e3671","caed60dc.5d4518","2564b3fc.eddf94","c07df3c6.9f8028","98d985df.bd6e5","c23b1f70.633d08","af74b00d.6854a","13976d73.7712ab","f6ddb974.6a8d3","e948e3a5.6e84e8","b393e416.dc4b1","2db03182.d5088e"]]},{"id":"caed60dc.5d4518","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"e5c6703e.5a4b4","order":2,"width":0,"height":0,"gtype":"gage","title":"Thermocouple","label":"°C","format":" {{msg.payload.Tc_K}} ","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":862,"y":571.8333435058594,"wires":[]},{"id":"e94ec802.86a688","type":"ui_text","z":"b3e46d7a.552f58","group":"7534ca3c.cc08dc","order":3,"width":0,"height":0,"name":"","label":"Secondes écoulées","format":"{{msg.payload.now}}","layout":"row-left","x":745.333251953125,"y":489,"wires":[]},{"id":"acd4dc05.ef08b","type":"ui_text","z":"b3e46d7a.552f58","group":"7534ca3c.cc08dc","order":5,"width":0,"height":0,"name":"","label":"Timer","format":"{{msg.payload.timer}}","layout":"row-left","x":776.333251953125,"y":524,"wires":[]},{"id":"c5f24abc.e3671","type":"ui_text","z":"b3e46d7a.552f58","group":"7534ca3c.cc08dc","order":6,"width":0,"height":0,"name":"Tamb","label":"T_amb","format":"{{msg.payload.T_amb}}","layout":"row-left","x":887.333251953125,"y":541,"wires":[]},{"id":"2564b3fc.eddf94","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"31b301de.bc3806","order":1,"width":0,"height":0,"gtype":"gage","title":"Consigne","label":"°C","format":" {{msg.payload.Consigne}} ","min":0,"max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1018.333251953125,"y":577.6666564941406,"wires":[]},{"id":"c07df3c6.9f8028","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"dec16d77.5aed78","order":2,"width":0,"height":0,"gtype":"gage","title":"Feedback","label":"°C","format":" {{msg.payload.Feedback}} ","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890.333251953125,"y":606.6666564941406,"wires":[]},{"id":"98d985df.bd6e5","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"c137dc9f.300708","order":1,"width":0,"height":0,"gtype":"gage","title":"Pyromètre","label":"°C","format":" {{msg.payload.Pyro}} ","min":"250","max":"1200","colors":["#00acb5","#00b500","#ca3838"],"seg1":"1000","seg2":"1100","x":807.333251953125,"y":670.6666564941406,"wires":[]},{"id":"c23b1f70.633d08","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"9c0d202f.130d88","order":1,"width":0,"height":0,"gtype":"gage","title":"output_MCP4725_digit","label":"bit","format":" {{msg.payload.output_dac}} ","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1009.333251953125,"y":684.6666564941406,"wires":[]},{"id":"b885e9fc.71d0c8","type":"ui_text","z":"b3e46d7a.552f58","group":"7534ca3c.cc08dc","order":4,"width":0,"height":0,"name":"","label":"Capteur en usage","format":"{{msg.payload.flag_capteur}}","layout":"row-left","x":1007,"y":649.1667175292969,"wires":[]},{"id":"af74b00d.6854a","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"9c0d202f.130d88","order":2,"width":0,"height":0,"gtype":"gage","title":"Recopie_dac_MCP","label":"V","format":" {{msg.payload.adc1_V}} ","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1015.2498779296875,"y":717.5833435058594,"wires":[]},{"id":"f6ddb974.6a8d3","type":"function","z":"b3e46d7a.552f58","name":"Tc_K ON / Pyrometre ON","func":"if (msg.payload == 0){\n    msg.payload = \"Tc_K ON\";\n} else if(msg.payload == 1){\n    msg.payload = \"Pyrometre ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":777.7332763671875,"y":638.3166809082031,"wires":[["b885e9fc.71d0c8"]]},{"id":"4c8617c0.376f78","type":"ui_gauge","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":7,"width":0,"height":0,"gtype":"gage","title":"Offset","label":"°C","format":"{{msg.payload}}","min":"-100","max":"100","colors":["#0073b5","#00b500","#ca3838"],"seg1":"-20","seg2":"20","x":985.7332763671875,"y":750.7833251953125,"wires":[]},{"id":"13976d73.7712ab","type":"ui_text","z":"b3e46d7a.552f58","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"name":"","label":"Erreurs lecture thermocouple","format":" {{msg.payload.Err}} ","layout":"row-left","x":869.7332763671875,"y":710.2166748046875,"wires":[]},{"id":"e948e3a5.6e84e8","type":"function","z":"b3e46d7a.552f58","name":"","func":"msg.payload = Math.round(msg.payload.Feedback - msg.payload.Consigne);\nreturn msg;","outputs":1,"noerr":0,"x":791.5,"y":748,"wires":[["4c8617c0.376f78"]]},{"id":"2db03182.d5088e","type":"file","z":"b3e46d7a.552f58","name":"","filename":"/home/harold/Documents/dataLogger/arduino_file","appendNewline":true,"createDir":true,"overwriteFile":"false","x":387.5,"y":771,"wires":[]},{"id":"38d31ac1.737206","type":"inject","z":"b3e46d7a.552f58","name":"","topic":"","payload":"none, now, timer, T_amb, Tc_K, Consigne, Feedback,  flag_capteur, Pyro, output_dac, adc1_V, Err","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":217.5,"y":837,"wires":[["2db03182.d5088e"]]},{"id":"c9f936fc.74bf18","type":"ui_template","z":"b3e46d7a.552f58","group":"842ad0b5.96d31","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://www.raiselife.eu/images/logo.png'\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":527,"y":477,"wires":[[]]},{"id":"b393e416.dc4b1","type":"debug","z":"b3e46d7a.552f58","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":545,"y":689,"wires":[]},{"id":"68f52814.adbb48","type":"debug","z":"b3e46d7a.552f58","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":325,"y":689,"wires":[]},{"id":"217bbe25.81ccfa","type":"serial out","z":"b3e46d7a.552f58","name":"","serial":"5988bdcb.68446c","x":368,"y":448,"wires":[]},{"id":"f8b1358f.481c38","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"Test","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":62,"y":637,"wires":[["217bbe25.81ccfa"]]},{"id":"9a46cca3.75ee3","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"Abort","color":"","bgcolor":"","icon":"","payload":"q","payloadType":"str","topic":"","x":55,"y":680,"wires":[["217bbe25.81ccfa"]]},{"id":"57a5ab5d.34c5a4","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"T91/T22 day one","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":115,"y":411,"wires":[["217bbe25.81ccfa"]]},{"id":"123daefc.b83229","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"T91/T22 day two","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":110,"y":447,"wires":[["217bbe25.81ccfa"]]},{"id":"ecf2af4a.cb479","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"Inconel/H-230 day one","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":131,"y":480,"wires":[["217bbe25.81ccfa"]]},{"id":"f1966a1f.df329","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"Inconel/H-230 day one","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":131,"y":516,"wires":[["217bbe25.81ccfa"]]},{"id":"3ada9f5a.38ebe","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"Austenitizing","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":75,"y":555,"wires":[["217bbe25.81ccfa"]]},{"id":"e8fe85f1.ad5898","type":"ui_button","z":"b3e46d7a.552f58","name":"","group":"7534ca3c.cc08dc","order":0,"width":0,"height":0,"passthru":false,"label":"Tempering","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"","x":75,"y":592,"wires":[["217bbe25.81ccfa"]]}]